table {
    border: 1px solid black;
    width: 200px;
    border-collapse: collapse;
}

td {
    text-align: center;
}

td:hover {
    background-color: blue;
}

.x {
    font-size: 30px;
    font-weight: bold;
}

.button:hover {
    background-color: aqua;
}